@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

h1 {
  text-align: center;
  font-size: 3rem;
  color: #2f4f4f;
}

.timer-setup {
  margin: 1rem;
  padding: 1rem;
  border-radius: 2rem;
  border: 2px solid #2f4f4f;
  background-color: #f0fff0;
}

.timer-controls {
  margin: 2rem 1rem;
  display: flex;
}

#break-label,
#session-label {
  text-align: center;
  font-weight: 600;
  color: #2f4f4f;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls button {
  margin: 1rem;
  padding: 0.5rem;
  outline: none;
  border: none;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  background: #2f4f4f;
  color: #fefefe;
  cursor: pointer;
}
.controls button:hover {
  background: #2f4f4f99;
}
.controls button:active {
  border: 2px;
  background: #2f4f4f;
  color: #efecec;
}

#reset {
  background-color: #0a93e899;
  color: #efecec;
}
#reset:hover {
  background-color: #0a93e8dd;
}
#reset:active {
  background-color: #0a93e8;
  color: #efecec;
}

#start_stop {
  background: #55f0bc99;
  color: #efecec;
}
#start_stop:hover {
  background: #55f0bcdd;
}
#start_stop:active {
  background: #55f0bc;
}
#start_stop.playing {
  background: #ff545499;
}
#start_stop.playing:hover {
  background: #f86060dd;
}
#start_stop.playing:active {
  background: #f86060;
}

.timer {
  text-align: center;
  padding: 3rem;
  border-radius: 50%;
  min-height: 10rem;
  width: 18rem;
  align-self: center;
  background: #2f4f4f;
  color: #fefefe;
  filter: drop-shadow(0px 1px 2px #20278d66);
}
.timer #time-left {
  font-size: 4rem;
}

@media (max-width: 592px) {
  h1 {
    font-size: 2rem;
  }
}

@media (max-width: 525px) {
  .timer-controls {
    flex-direction: column;
  }
}
